.login-btn {
	box-shadow:inset 0px 1px 6px 0px #496662;
	background:linear-gradient(to bottom, #1a4136 5%, #2e4141 100%);
	background-color:#2e4141;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:4px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
	margin-left: 10px;
	margin-right: 10px;
}

.login-btn:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.login-btn:active {
	position:relative;
	top:1px;
}

.invalid-login {
	color: red;
	font-size: 10px;
}