form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 50vw;
	background-color: white;
	margin-bottom: 75px;
	box-shadow: 1px 1px 10px 0px grey;

}

h2 {
	font-family: 'Ultra', serif;
	margin-top: 50px;
}
.login-title {
  font-size: 30px;
  font-weight: 100;
  font-family: inherit;
  font-weight: bolder;
}
a {
	text-decoration: none;
}

.login-form {
	width: 24vw;
	min-width: 40%;
	margin-top: 100px;
}
.form-input {
	margin: 15px;
}

.submit-login-btn {
	height: 4vh;
	width: 7vw;
	margin: 5px;
	margin-bottom: 25px;
	color: red;
	background-color: white;
	border: 1px solid black;
	&:hover {
		color: white;
		background-color: red;
	}
}

.invalid-login {
	color: red;
	font-size: 10px;
	margin-bottom: 10px;
}

input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-container {
	width: 18vw;
}

.title {
	color: white;
}