header {
	background-color: red;
	opacity: 85%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tomato-logo {
	width: 4%;
	margin-left: 2px;
	margin-right: 5px;
}

.login-btn {
	right: 0;
	top: 0;
	position: absolute;
	margin: 5px;
	height: 4vh;
}

h2 {
	font-size: 101%;
	margin-left: 10px;
}

h2, .title {
	margin-top: 20px;
}

.title {
	display: flex;
	align-items: flex-end;
}