header {
	background-color: red;
	opacity: 85%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tomato-logo {
	width: 3%;
	max-width: 50px;
	min-width: 45px;
	margin-left: 2px;
	margin-right: 5px;
	margin-bottom: 7px;
}

.login-btn {
	right: 0;
	top: 0;
	position: absolute;
	margin: 5px;
	height: 2vh;
	text-shadow: 1px 1px 1px black;
}

h2 {
	font-size: 101%;
	margin-left: 10px;
}

 .title {
	 display: flex;
	 align-items: flex-end;
	font-family: 'Ultra', serif;
	font-weight: 100;
	margin-top: 20px;
	font-size: 3vh;
	text-shadow: 2px 2px 0px black;
}