.welcome {
	font-size: 18px;
	position: absolute;
	right: 0;
	text-shadow: 1px 1px 1px black;

}

.logout-btn {
	margin-left: 50px;
	height: 2vh;
	text-shadow: 1px 1px 1px black;
}

.view-favorites {
	width: 11vh;
	height: 2vh;
	align-self: flex-end;
	text-shadow: 1px 1px 1px black;
}

.favorites {
	align-self: flex-end;
}