.movie-poster {
	width: 89%;
	&:hover {
		opacity: 70%;
	}
}

.movie-card-container {
	display: flex;
  justify-content: center;
}

.movie-card {
	box-shadow: 3px 3px 15px 0px rgba(87,87,87,1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin: 10px;
	margin-bottom: 25px;
	padding: 3px;
	width: 300px;
	height: 505px;
	background-color: white;
}

.radio-btn-label{
	text-align: center;
}

.title-section {
 	height: 1vh;
}

.inputs {
	display: flex;
	justify-content: space-between;
	width: 270px;
	margin-top: 27px;
	margin-bottom: 7px;
}

.rating-form {
	height: 105px;
	width: 33vw;
	min-width: 300px;
	max-width: 300px;
	border: 1px solid grey;
}
.radio-button {
	margin-left: 2px;
	cursor: pointer;
}

.exit-btn {
	left: 7px;
	position: absolute;
	color: red;
	font-weight: bolder;
	cursor: pointer;
}

.rating-form-container {
	position: absolute;
	z-index: 15;
	margin: 0;
	width: 307px;
	height: 583px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column
}

.hide {
	display: none;
}

h3 {
	margin: 3px;
	margin-top: 10px;
}

p {
	margin: 3px;
	font-size: 14px;
}

.rating-button {
	color: red;
	background-color: white;
	border: 1px grey solid;
	height: 3vh;
	margin: 2px;
	&:hover {
		color: white;
		background-color: red;
		border: none;
	}
}

.delete-button {
	color: white;
	background-color: red;
	border: 1px grey solid;
	height: 3vh;
	margin: 2px;
	&:hover {
		color: red;
		background-color:white;
	}
}

.rating-img {
	height: 20px;
	width: 20px;
}

.rating-section {
	display: flex;
	justify-content: center;
}

.user-rating-msg {
	color: blue;
}

.submit-rating-btn {
	height: 2vh;
	width: 6vw;
	min-width: 85px;
	cursor: pointer;
	border: 1px grey solid;

}
