.movie-poster {
	width: 89%;
	&:hover {
		opacity: 70%;
	}
}

.movie-card {
	box-shadow: 3px 3px 15px 0px rgba(87,87,87,1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin: 10px;
	margin-bottom: 25px;
	padding: 3px;
	width: 300px;
	background-color: white;
}

.inputs {
	display: flex;
	justify-content: space-between;
	width: 270px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.rating-form {
	height: 100px;
	width: 33vw;
	min-width: 300px;
	max-width: 300px;
	border: 1px solid grey;
}

.rating-form-container {
	position: absolute;
	z-index: 15;
	margin: 0;
	width: 290px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15%;
	margin-left: 2%;
}

.hide {
	display: none;
}

h3 {
	margin: 3px;
	margin-top: 10px;
}

p {
	margin: 3px;
	font-size: 14px;
}

.rating-button {
	color: red;
	background-color: white;
	border: 1px grey solid;
	height: 3vh;
	margin: 2px;
	&:hover {
		color: white;
		background-color: red;
		border: none;
	}
}

.rating-img {
	height: 20px;
	width: 20px;
}

.rating-section {
	display: flex;
	justify-content: center;
}

.user-rating-msg {
	color: blue;
}