.movie-card {
	text-align: center;
}

.movie-poster {
	height: 400px;
}

.movie-card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	margin-bottom: 25px;
	padding: 3px;
	width: 300px;
	background-color: white;
}

.rating-button {
	height: 4vh;
}

.rating-button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.rating-button:active {
	position:relative;
	top:1px;
}

.green-rating {
	color: green;
}

.red-rating {
	color: red;
}